<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HuajiTech.UnmanagedExports.Metadata" version="1.0.2" targetFramework="net461" />
  <package id="HuajiTech.UnmanagedExports.MSBuild" version="1.0.0-rc2" targetFramework="net461" />
  <package id="ILRepack.Lib.MSBuild.Task" version="2.0.18.1" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="4.7.1" targetFramework="net461" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Unity" version="5.11.7" targetFramework="net461" />
  <package id="XQ.Net" version="0.3.6.1-beta" targetFramework="net461" />
  <package id="XQ.Net.Pack" version="1.1.1-beta" targetFramework="net461" />
  <package id="XQ.Net.SDK" version="0.3.4.1-beta" targetFramework="net461" />
</packages>